@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
body, button {
    font-family: 'Bubblegum Sans';
    size: 1.2em;
}
.toast {
    background-color: blueviolet;
}
.cover-flash {
    opacity:70%;
    position:absolute;
    top:87%;
    left:5%;
    width:90%;
    text-transform: uppercase;
}

.cover-id {
    position:absolute;
    top:-13px;
    left:38%;
}